.bg-image {
    background-color: blanchedalmond;
    background-image: url("rabbit.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.image {
    width: 100%;
}

.col {
    color: red;
}